{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
       
    <div class="container pt-5">
    {% if is_granted('ROLE_ADMIN') %}

        <div class="row pb-2 pt-2 bg-secondary text-white mb-2">
          
            {% for message in app.flashes('notice') %} <!-- Displaying flash with notice-->
                <div class="alert alert-success">
                        {{ message }}
                </div>
                {% endfor %}

                <div>{{ form_start(form) }}</div>
                <div class="col-sm-1"><h5>Add</h5></div>
                <div class="col-sm-2">{{ form_widget(form.name) }}</div>
                <div class="col-sm-2">{{ form_widget(form.price) }}</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">{{ form_widget(form.submit) }}</div>
                <div>{{ form_end(form) }}</div>
            
        </div>

    {% endif %}

        <div class="row pb-2 pt-2 bg-secondary text-white mb-2">
                <div>{{ form_start(form2) }}</div>
                <div class="col-sm-1"><h5>Search</h5></div>
                <div class="col-sm-2">{{ form_widget(form2.id) }}</div>
                <div class="col-sm-2">{{ form_widget(form2.name) }}</div>
                <div class="col-sm-2">{{ form_widget(form2.price) }}</div>
                <div class="col-sm-2">{{ form_widget(form2.search) }}</div>
                <div>{{ form_end(form2) }}</div>
        </div>

        
        <div class="row">
        {% for data in searchdata %}

            
            
            

               
                    
                        <div class="card col-sm-3 bg-secondary m-1 text-white">
                            <div class="card-header"><h5>{{ data.name }}</h5></div>
                            <div class="card-body">    
                                <p class="card-text">ID: {{ data.id }}</p>
                                <p class="card-text">Price: {{ data.price }}</p>
                            </div>
                            
                            {% set adminflag = 0 %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="card-footer">
                                <a href="{{ path('update', {'id': data.id}) }}" class="btn btn-warning">Edit</a>
                                <a href="{{ path('delete', {'id': data.id}) }}" class="btn btn-danger">Delete</a>
                            </div>
                            {% set adminflag = 1 %}
                            {% endif %}

                            {% if (is_granted('ROLE_USER')) and (adminflag == 0) %}
                            <div class="card-footer">
                                <a href="{{ path('app_cart', {'id': data.id}) }}" class="btn btn-md btn-danger">ADD</a>
                            </div>
                            {% endif %}
                            
                        </div>
                    
                
                
               
           
            
        {% endfor %}
        </div>
    </div>
{% endblock %}
